<launch>
  <arg name="com_mode" default="script" /><!-- or auto_update, polling -->

  <node  name="wsg_50"  pkg="wsg_50" type="wsg_50_tcp" output="screen">
	<param name="ip" type="string" value="192.168.20.2"/>
	<param name="port" type="int" value="1000"/>
    <param name="protocol" type="string" value="tcp"/>
    <param name="com_mode" type="string" value="$(arg com_mode)"/>
    <param name="rate" type="double" value="500"/> <!-- WSG50 HW revision 2: up to 30 Hz with script; 130Hz with auto_update -->
    <param name="grasping_force" type="double" value="80"/>
  </node>

</launch>

